PORT=3004

# In case want to put more than one server you could do it like this
# NATS_SERVERS='nats://localhost:4222,nats://localhost:4223,nats://localhost:4229'
NATS_SERVERS='nats://localhost:4222'


DATABASE_URL="mongodb+srv://maseflores79:4EgdDd2ZiPIU8Js1@auth-ms-db.eckca9v.mongodb.net/AuthDB"